html, body {
    text-align: center;
    font-family: sans-serif;
    user-select: none;
}

.flex-grid {
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 900px;
    margin: 20px auto 0 auto;
    border: 1px solid black;
}

.grid-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.grid-sqr {
    flex-grow: 1;
    border: .1rem solid lightgray;
    background-color: white;
}