html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    user-select: none;
}

body {
    display: flex;
    align-items: center;
}

.flex-grid {
    margin: 5rem;
    border: 1px solid black;
    display: flex;
    flex: 1;
    width: 1080px;
    height: 1080px;
}

.grid-col {
    border: .1rem solid gray;
    flex: 1;
    flex-direction: column;
    width: 6.25%
}

.grid-sqr {
    border: .1rem solid gray;
    flex: 1;
    height: 6.25%;
}